<div class=" light-blue-bak pt-5 pb-5" style="background: #fafafa">
	<div class="container inner">
		<div   id="featured-latest">
			<div class="row">
				<div class="col-sm-12 mb-5 mt-3">
					<h3 class="text-center" >FEATURED BUSINESSES AND FRANCHISES FOR SALE</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 mb-5 mt-0 text-center">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn-primary" class="btn btn-primary btn-lg">FEATURED</button>
						<button type="button" class="btn-outline-primary" class="btn  btn-lg ">&nbsp;&nbsp;LATEST&nbsp;&nbsp;</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row mt-2 mb-0">
			<div class="col-1">
				<div class="swiper-button-prev" style="margin-top: -58px;"></div>
			</div>
			<div class="col-10">
				<div class="row">
					<div class="col-12 col-10">
						<div class="swiper-container" id="swiper-container">
							<swiper [config]="config">
							<div class="swiper-wrapper">
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=11" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">architect frictionless supply-chains</a></h6>
											<p class="desc">MTS ASL Curriculum Workbook is a reproducible study book to build Early Literacy and Academic skills for primary school age children.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=21" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">iterate plug-and-play metrics</a></h6>
											<p class="desc">This kit teaches how to print, correct an ugly grasp, and how to make sure your child's fine motor skills are kindergarten ready!</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=31" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">architect best-of-breed niches</a></h6>
											<p class="desc">Establishing a free, world-class, public library which will be a center  for curating and disseminating knowledge in Nigeria.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=41" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">iterate impactful interfaces</a></h6>
											<p class="desc">Goal: Introducing a new word into the English language/dictionary.\nReason: The beauty of the English language is the freedom to create.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=51" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">envisioneer viral functionalities</a></h6>
											<p class="desc">Zu den Artikeln der DSGVO sind die korrespondierenden Erwägungsgründe und die vergleichbaren Regelungen aus dem BDSG gegenüber gestellt</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=61" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">incubate next-generation platforms</a></h6>
											<p class="desc">Shadow School Board will provide parents & taxpayers a "how-to manual" to restore accountability to your school district's real board.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=71" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">grow strategic schemas</a></h6>
											<p class="desc">I want to create an organization that is composed of selfless people who are dedicated to prevent HIV related deaths and transmission.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=81" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">incubate plug-and-play vortals</a></h6>
											<p class="desc">Group of passionate and eager students gaining experience in the Stock market through research, collaboration and hard work.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=91" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">recontextualize 24/7 portals</a></h6>
											<p class="desc">V.I.P.-Architecture shows the most iconic, the most famous and most important buildings of our planet in one book.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
								
								<div class="swiper-slide">
									<div class="card box">
										<a href="project.html" ><img class="img-fluid" src="https://unsplash.it/410/210?image=101" class="img-fluid"/></a>
										<div class="card-block" class="pb-1" style="position: relative; padding-bottom: 60px; min-height: 170px;">
											<h6><a href="project.html">e-enable mission-critical communities</a></h6>
											<p class="desc">A collection of plays, screenplays, and photographs from the productions written by Ross Wells, Texas playwright, director, and actor.</p>
											<div style="position: absolute; bottom: 20px; width: 86%; ">
												<a href="">Learn more</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							</swiper>
						</div>
					</div>
				</div>
				<div class="swiper-container swiper-container-horizontal d-flex justify-content-center bd-highlight mb-0" style="overflow: visible;">
					<div class="p-2 bd-highlight">
						<div class="swiper-pagination mt-5" style="position: relative; margin: 0 auto;"></div>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="swiper-button-next" style="margin-top: -58px;"></div>
			</div>
		</div>
		<div class="row" style="display: none">
			
		</div>
	</div>

