<div class="homepage-hero-module" style="height: 460px;" id="home">
	<div class="video-container">
		<div class="filter"></div>
		<video autoplay loop class="covervid-video">
			<source src="../../assets/video/MP4/In-And-Out.mp4" type="video/mp4" />
		</video>
	</div>
	<div class="home-banner" style="position: absolute; top: 0; left: 0">
		<div class="container inner ">
			<br />
			<br />
			<br />
			<div class="row mt-5">
				<div class="col-sm-12">
					<h1 class="text-center">Buy and Sell Businesses</h1>
					<h2 class="text-center mt-3 hidden-sm-down">Welcome to the UAE's largest marketplace of businesses for sale.</h2>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12 col-md-10 offset-md-1">
					<div class="row mt-4">
						<div class="col-12 col-sm-9">
							<div style="border-radius: 0px; margin-top: 21px; background: rgba(255,255,255,0.99); display: block;  padding: 10px;  box-shadow: -4px 4px 16px -1px rgba(245,245,245,0.24);
								">
								<div class="input-group">
									<input type="text" class="form-control form-control-lg" placeholder="e.g. Hotels in Dubai" style="background: #E0E0E0; border:1px solid #BDBDBD;font-weight:bold; text-transform: suppercase;">
									<div class="input-group-btn    hidden-sm-down" style="margin-left: 3px;" ngbDropdown>
										<button type="button" style="border: none;" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
										All Categories
										</button>
										<div class="dropdown-menu dropdown-menu-right">
											
											<a class="dropdown-item" href="#">Agriculture</a>
											<a class="dropdown-item" href="#">Building & Construction</a>
											<a class="dropdown-item" href="#">Computer, Internet & Technology</a>
											<a class="dropdown-item" href="#">Education</a>
											<a class="dropdown-item" href="#">Entertainment & Leisure</a>
											<a class="dropdown-item" href="#">Food & Beverage</a>
											<a class="dropdown-item" href="#">Hair and Beauty</a>
											<a class="dropdown-item" href="#">Health, Medical and Fitness</a>
											<a class="dropdown-item" href="#">Manufacturing</a>
											<a class="dropdown-item" href="#">Real Estate</a>
											<a class="dropdown-item" href="#">Retail</a>
											<a class="dropdown-item" href="#">Service</a>
											<a class="dropdown-item" href="#">Transportation</a>
											<a class="dropdown-item" href="#">Travel Related</a>
											<a class="dropdown-item" href="#">Wholesale & Distribution</a>
										</div>
									</div>
								</div>
							</div>
							<a href="search.html" class=" pull-right" style="color: #E0E0E0">Advanced search <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
						</div>
						<div class="col-6 offset-3 offset-sm-0 col-sm-3">
							<a href="search.html" class="btn btn-primary btn-lg btn-block" style="margin-top: 26px; border-width: 6px;box-shadow: -4px 4px 16px -1px rgba(245,245,245,0.24);;">SEARCH</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
