<div class="container inner ">
	<div class="row mt-5 mb-5">
		<div class="col-12">
			
			<div class="row mt-5 mb-5">
				<div class="col-sm-12 text-left">
					<h3>Contact us</h3>
					<p class="lead mb-1">
						We'll get back to you within 1 hour
					</p>
				</div>
				<div class="col-sm-8 offset-sm-2">
					<br />
				</div>
			</div>
			<div class="row mt-5 mb-5">
				<div class="col-sm-7 mr-auto">
					<form>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label for="exampleInputPassword1">First name</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g. Jack" />
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Last name</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="e.g. Sparrow" />
								</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-6">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e.g. jack@sparrow.com" />
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label for="exampleInputPassword1">Phone number</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="+44 555 2364" />
								</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-12">
								<div class="form-group">
									<label for="exampleInputEmail1">Message</label>
									<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Send message</button>
					</form>
					<br />
					<br />
					<br />
					<br />
				</div>
				<div class="col-4">
					<h5 class=" text-primary">our address</h5>
					<p>
						Safaqah<br />
						32 Shire Oak Road<br />
						LN2 1ZU London<br />
					</p>
					<h5 class="mb-0 text-primary">send us an email</h5>
					<p>
						example@safaqah.com<br />
					</p>
					<h5 class="mb-0 text-primary">or even call us</h5>
					<p>
						Tel: +1-202-555-0176<br />
					</p>
				</div>
			</div>
		</div>
	</div>
</div>