<!-- Main Content -->
<div class="container-fluid ">
	<div class="row" >
		<div class=" pt-5 pb-5" style="width: 100%; background: #818a91">
			<div class="container ">
				<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
					<h3 style="color: #fff">Blog</h3>
					<p class="lead mb-1" style="color: #fff">
						Read our articles and news
					</p>
				</div>
				<div class="col-sm-8 offset-sm-2">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-5">
			<div class="post-preview mb-4 mt-4">
				<a class="nav-link" routerLink="/blog-business-for-sale">Blog
					<h2 class="post-title">
					 Business for Sale in UAE, Dubai
					</h2>
					<h3 class="post-subtitle">
					 Buying and selling business in UAE, Dubai 
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">Charlie Brown</a> on September 24, 2017</p>
			</div>
			<hr>
			<div class="post-preview  mb-4 mt-4">
				<a href="post.html">
					<h2 class="post-title">
					I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
					</h2>
				</a>
				<p class="post-meta">Posted by <a href="#">Charlie Brown</a> on September 18, 2017</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="post.html">
					<h2 class="post-title">
					Science has not yet mastered prophecy
					</h2>
					<h3 class="post-subtitle">
					We predict too much for the next year and yet far too little for the next ten.
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">Charlie Brown</a> on August 24, 2017</p>
			</div>
			<hr>
			<div class="post-preview">
				<a href="post.html">
					<h2 class="post-title">
					Failure is not an option
					</h2>
					<h3 class="post-subtitle">
					Many say exploration is part of our destiny, but it’s actually our duty to future generations.
					</h3>
				</a>
				<p class="post-meta">Posted by <a href="#">Charlie Brown</a> on July 8, 2017</p>
			</div>
			<hr>
			<!-- Pager -->
			<div class="clearfix">
				<a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
			</div>
		</div>
	</div>
</div>